.env
config.json
Picture/
Source Code/data/
*.log
Source Code/__pycache__/
.DS_Store
Source Code/developer/electron/node_modules/
Source Code/developer/electron/dist/
/CCTV Automation.app/
/CCTV Automation Windows/
/ติดตั้ง CCTV Automation macOS.dmg
/ติดตั้ง CCTV Automation Windows.exe
/ติดตั้ง CCTV Automation Windows.exe.blockmap
Source Code/frontend/node_modules/
